name: zizmor Security Analysis

on:
  schedule:
    - cron: '0 0 * * 0' # weekly

permissions:
  contents: read
  issues: write
  pull-requests: write

env:
  ZIZMOR_VERSION: v1.18.0

jobs:
  zizmor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: cache-zizmor
        with:
          path: ~/.tools
          key: zizmor-${{ env.ZIZMOR_VERSION }}
          restore-keys: zizmor-

      - name: Install zizmor
        run: |
          if [ "${{ steps.cache-zizmor.outputs.cache-hit }}" != "true" ]; then
            curl -Lo zizmor.tar.gz "https://github.com/zizmorcore/zizmor/releases/download/$ZIZMOR_VERSION/zizmor-x86_64-unknown-linux-gnu.tar.gz"
            tar -xvzf zizmor.tar.gz
            mkdir -p "$HOME/.tools"
            install zizmor "$HOME/.tools"
          fi
          echo "$HOME/.tools" >> $GITHUB_PATH

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Try automatic fix
        continue-on-error: true
        run: |
          zizmor . --fix

      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: &title Address zizmor issue(s)
          branch: bot-zizmor-fix
          title: *title

      - name: Check for security issues
        id: zizmor-check
        continue-on-error: true
        run: |
          set +e
          zizmor . --min-severity high > zizmor-report.md
          zizmor_fail=$?
          echo "zizmor-fail=$zizmor_fail" >> $GITHUB_OUTPUT
          exit 0

      - name: Write issue body
        id: after-zizmor
        if: steps.zizmor-check.outputs.zizmor-fail != '0'
        run: |
          {
            echo '**Workflow Run:** ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
            echo '**Commit:** ${{ github.sha }}'
            echo '```'
            cat zizmor-report.md
            echo '```'
          } >> issue-body.md
          issue_number=$(gh issue list --search "Security: zizmor findings" --state open --json number --jq '.[0].number' || echo "")
          echo "issue_number=$issue_number" >> $GITHUB_OUTPUT

      - uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # v6.0.0
        if: steps.zizmor-check.outputs.zizmor-fail != '0'
        with:
          title: "Security: zizmor findings"
          content-filepath: issue-body.md
          issue-number: ${{ steps.after-zizmor.outputs.issue_number }}

